<div class="new-password-dialog js-new-password-dialog" title="New Password">
    <div class="error js-new-password-error"></div>
    <form id="new-password-form">
      <div class="new-password-field">
        <input placeholder="Password" type="password" class='js-new-password-first form-text-input icon-password' />
      </div>
      <div class="new-password-field">
       <input placeholder="Verify Password" type="password" class='js-new-password-second form-text-input icon-password' />
      </div>
      <div class='new-password-field modal-submit'>
        <input type="submit" class="blue-button js-new-password-submit" />
      </div>
    </form>
</div>