<div class="password-reset-dialog js-password-reset-dialog" title="Password Reset">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, id: 'password-reset-form' } ) do |f| %>
    <%= devise_error_messages! %>
    <div class="password-reset-field">
      <%= f.email_field :email, autofocus: true, class: 'text ui-widget-content ui-corner-all form-text-input icon-email' %>
    </div>
    <div class='password-reset-field modal-submit password-resetbutton'>
      <%= f.submit "Send Reset Link", class: "blue-button password-reset-submit js-password-reset-submit" %>
    </div>
  <% end %>
</div>
