<div class="container-fluid" ng-app="water_quality">
  <div class="col-md-12 landing-container">
    <img src="<%= asset_path 'boy.jpg' %>" class="main-image" width="64%">
    <div class="uvp">
      <h1>Assess and Discuss Water Quality in Your Area!</h1>
      <button class="join-button js-join-button">Join Now</button>
    </div>
  </div> 
</div>
